{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Payment-form</title>
    <link href="{% static 'login/css/payment-form.css' %}" rel="stylesheet">
</head>

<body>
    <form>
        <h1>Payment form</h1>
        <p>Required fields are followed by <strong><abbr title="required">*</abbr> </strong>.</p>
        <section>
            <h2>Contact information</h2>
            <fieldset>
                <legend>Title</legend>
                <ul>
                    <li>
                        <label for="title_1">
                            <input type="radio" id="title_1" name="title" value="K">
                            King
                        </label>
                        <label for="title_2">
                            <input type="radio" id="title_2" name="title" value="Q">
                            Queen
                        </label>
                    </li>
                    <li>
                        <label for="title_3">
                            <input type="radio" id="title_3" name="title" value="J">
                            Joker
                        </label>
                    </li>
                </ul>
            </fieldset>
            <p>
                <label for="name">
                    <span>Name: </span>
                    <strong><abbr title="required">*</abbr> </strong>
                </label>

            </p>
        </section>
    </form>
</body>

</html>
